# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/gachaAnimations/Wuwa_4StarAnimation.mp4
public/gachaAnimations/Wuwa_3StarAnimation.mp4
public/gachaAnimations/Wuthering Waves 2025.01.24 - 23.30.58.691.mp4
public/gachaAnimations/Wuwa_3StarAnimationOld.mp4
public/gachaAnimations/Wuwa_5StarAnimation.mp4
src/components/PullDebug.jsx
